/* Variables */
$white:       rgb(255, 255, 255);
$black:       rgb(0, 0, 0);
$orange:      rgb(234, 109, 65);
$blue:        rgb(39, 64, 171);
$green:       rgb(158, 247, 93);
$dark-grey:   rgb(31, 31, 37);
$mid-grey:    rgb(136, 136, 142);
$light-grey:  rgb(236, 236, 242);
