.contributor-corner {
  width: 95%;
  max-width: 1200px;
  margin: 5rem auto;
  .cc__intro {
    width: 100%;
    min-height: 10rem;
    padding: 1rem 0;
    background-color: $lightGrey;
  }
  .cc__current {
    display: flex;
    .cc__current__video {
      width: 55%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .cc__current__copy {
      display: flex;
      width: 45%;
      padding: 2.5rem;
      justify-content: center;
      align-items: center;
    }
  }
}
