.row {
  width: 100%;
  h1, h2, .subtitle {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.intro {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url('/assets/images/intro-banner-bg.jpg');
  color: $white;
  div {
    width: 90%;
    font-size: 200%;
    line-height: 1;
    p {
      margin: 0;
    }
    h1 {
      margin: 0;
      text-align: left;
    }
  }
}
.work {
  display: flex;
  flex-wrap: wrap;
  background-color: $dark-grey;
  color: $white;
  h2 {
    margin: 0;
    padding: 2.35rem 0 2.5rem;
    line-height: 1;
    background-color: $dark-grey;
    background-image: url('/assets/images/pattern-bg-dark-pattern.png');
    border-top: 1px solid darken($green, 50%);
    border-bottom: 1px solid darken($green, 50%);
  }
  .work__panel {
    position: relative;
    width: 25%;
    min-height: 25rem;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/images/intro-banner-bg.jpg');
    .work__panel__copy {
      width: 100%;
      padding: 0 2rem;
      text-align: center;
    }
  }
}
.team {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  background-image: url('/assets/images/pattern-bg-pixels.png');
  background-position: bottom;
  background-repeat: repeat-x;
  h2 {
    margin: 0 0 1.5rem;
  }
  .team__panel {
    width: 31.33%;
    margin: 1%;
    padding: 1rem;
    text-align: center;
    z-index: 5;
    background-color: white;
    border: 4px solid $green;
    .team__panel__social {
      width: 100%;
      display: flex;
      justify-content: center;
      svg {
        width: 2rem;
        height: 2rem;
        margin: 0 0.25rem;
      }
    }
  }
}
.facts {
  padding: 4vh 2vw 7vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: lighten($dark-grey, 1.5%);
  color: $white;
  background-image: url('/assets/images/pattern-bg-dark-pattern.png');
  h2 {
    margin: 0 0 1.5rem;
  }
  .numeric {
    margin: 0 0 1rem;
    font-size: 5rem;
    line-height: 1;
  }
  p:not(.numeric) {
    margin: 0;
  }
  .facts__panel {
    width: calc(50% - 2vw);
    margin: 1vw;
    padding: 2rem 0;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
      to bottom,
      rgba($dark-grey, 0.8),
      rgba(darken($dark-grey, 5%), 0.8)
    );
    box-shadow: 0px 5px 15px darken($dark-grey, 10%);
  }
}
.testimonials {
  padding: 3rem 2vw 4rem;
  background: $orange;
  text-align: center;
  color: white;
  background-image: url('/assets/images/pattern-bg-orange-circles.png');
  border-top: 1px solid darken($orange, 10%);
  border-bottom: 1px solid darken($orange, 10%);
  .testimonial__panel {
    width: 80%;
    margin: 0 auto;
  }
}
.contact {
  padding: 4vh 2vw 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
