.home__main {
  position: relative;
  width: 75%;
  margin-top: 5rem;
  .home__congrats {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      width: 50%;
    }
  }
  .home__perks {
    h2 {
      display: block;
      margin: 0;
      padding: 2rem 0;
      text-align: center;
      background-color: $lightGrey;
    }
    .home__perks__slider--counter {
      height: 5rem;
      ul {
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style-type: none;
        li {
          width: 33.333%;
          height: 5rem;
          margin: auto;
          font-size: 3rem;
          line-height: 5rem;
          color: white;
          background-color: $defaultGrey;
        }
      }
    }
    .home__perks__slider {
      display: flex;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid red;
      div {
        width: 100%;
        min-width: 100%;
        min-height: 10rem;
        padding: 2.5rem;
      }
    }
  }
  .home__proof {
    display: flex;
    flex-wrap: wrap;
    div {
      display: block;
      height: 20vh;
      min-height: 10rem;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .home__proof__callout {
      width: 100%;
      border: 1px solid red;
      p {
        display: block;
        width: 50%;
        margin: auto;
      }
    }
    .home__proof__link {
      width: 50%;
      margin: auto;
      border: 1px solid red;
      a {
        display: block;
        width: 50%;
        margin: auto;
      }
    }
  }
}
.recognition {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 25%;
  height: 100%;
  padding: 2.5rem;
  background-color: $lightGrey;
  border-left: 1px solid $PRGold;
}
