.development-wrapper {
  max-width: 1010px;
  margin: 0 auto;
  div {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
  }
  .block-left {
    width: 20%;
    height: 20px;
    background-color: red;
  }
  .block-right {
    width: 75%;
    margin-left: 4%;
  }
}

/*
BEGIN USABLE CODE
*/

.aboutUsTwoUp__wrapper {

}
.aboutUsTwoUpItem {
  width: 45%;
  margin-left: 4%;
}
.aboutUsTwoUpItem__name {
  font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial Narrow',Arial,sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
  padding-top: 15px;
}
.aboutUsTwoUpItem__title {
  font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial Narrow',Arial,sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
}
.aboutUsTwoUpItem__bio {
  font-family: TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
  font-size: 16px;
  margin: 0;
  padding-top: 15px;
}
.aboutUsGrid__wrapper {
  margin-bottom: 75px;
}
.aboutUsGridItem {
  width: 28%;
  margin-left: 4.225806%;
  max-width: 325px;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: top;
}
.aboutUsGridItem__body {
  padding-top: 10px;
}
.aboutUsGridItem__name {
  font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial Narrow',Arial,sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
  padding-top: 15px;
}
.aboutUsGridItem__title {
  font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B','Arial Narrow',Arial,sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
}
.aboutUsGridItem__bio {
  font-family: TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
  font-size: 16px;
  margin: 0;
  padding-top: 15px;
}
@media (max-width: 768px) {
  .aboutUsGridItem {
    width: 45%;
    margin-left: 4%;
  }
}
