---
layout: default
---

<main class="home__main">
  {{ content }}
</main>
<section class="recognition">
  <ul>
    <li><b>Name | Sponsor Name</b></li>
    <li>Aimee Nash | Tiffaney Johnson</li>
    <li>Amie Gallo | Jennifer Knowles</li>
    <li>Amy Chou | Kelly Ellis-Neal</li>
    <li>Anjanette Cintron | Kathryn Shumate</li>
    <li>Ashley Devier | Megan Joos</li>
    <li>Belinda Rivera Del Toro | Keri Ann Pagan Rodriguez</li>
    <li>Bobbi Larocque | Christine Moe</li>
    <li>Brittany  Pulkka | Janna Vukelich</li>
    <li>Caroline Gooding | Brittney Ellis</li>
    <li>Cassandra  Patzer | Sheena Majorow</li>
    <li>Erica Wilder | Lindsay Daily</li>
    <li>Jenna Logan | Maggie Chrisman</li>
    <li>Jessica Nelson | Ashley Serafin</li>
    <li>Katheleen Langerock | Sheila Fox</li>
    <li>Kawanna Jenkins | Jennifer Phillips</li>
    <li>Kimberly Barker | Cassidy Bybee</li>
    <li>Marcy Pool | Christina Joseph</li>
    <li>Mindy Wilson | Cassidy Bybee</li>
    <li>Pamela Wolf | Ashley Devier</li>
    <li>Tonya Grier | Sabrina Lott</li>
    <li>Tracy Ruisi | Stacey Bauch</li>
  </ul>
</section>
